In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/csv/big_mart_sales.csv')

In [3]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [5]:
data.shape

(8523, 12)

In [6]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [7]:
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [8]:
head(5)

NameError: name 'head' is not defined

In [9]:
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
import random
random_list = [random.randint(1, 8523) for i in range(8523)]

In [5]:
random_list = random.sample(range(1,8524), 8523)
random_list

[4379,
 1186,
 7376,
 93,
 2598,
 880,
 4052,
 6761,
 5194,
 6710,
 8503,
 6337,
 2855,
 7137,
 8031,
 5932,
 7098,
 4528,
 7678,
 6269,
 4345,
 1665,
 4099,
 6796,
 657,
 6036,
 6738,
 5305,
 6313,
 1058,
 2083,
 7312,
 2847,
 6836,
 6950,
 2628,
 7330,
 3830,
 2165,
 8180,
 1330,
 7660,
 2417,
 7649,
 6196,
 3930,
 1043,
 2586,
 3434,
 7277,
 4683,
 6486,
 3796,
 4401,
 466,
 4048,
 6504,
 827,
 6993,
 6892,
 4074,
 1370,
 2178,
 7818,
 5962,
 4909,
 8094,
 5622,
 7416,
 3746,
 6899,
 5778,
 3804,
 1461,
 4069,
 4833,
 4516,
 1511,
 7985,
 7746,
 3006,
 2378,
 692,
 6664,
 2647,
 1380,
 1941,
 3543,
 226,
 2292,
 4089,
 108,
 6503,
 2175,
 568,
 2537,
 3885,
 983,
 3737,
 2956,
 4976,
 1146,
 1030,
 1737,
 247,
 1689,
 8463,
 6883,
 6882,
 5449,
 4337,
 5752,
 4943,
 5264,
 6890,
 4768,
 5553,
 7311,
 3190,
 1135,
 3649,
 4514,
 4451,
 7733,
 8179,
 297,
 796,
 82,
 5634,
 7088,
 7032,
 3015,
 2971,
 2992,
 2375,
 4961,
 1763,
 3575,
 7333,
 5755,
 5512,
 358,
 1781,
 4381,
 1697,
 280,
 514,
 1459,
 3088,
 5974,
 5177,
 87,
 3960,
 6881,
 2357,
 318,
 2290,
 6876,
 1699,
 6245,
 3866,
 2682,
 1431,
 1032,
 2858,
 6578,
 2120,
 2006,
 7280,
 7769,
 4553,
 5209,
 5760,
 8419,
 298,
 8508,
 6988,
 956,
 7252,
 3374,
 3125,
 5287,
 1760,
 7319,
 4869,
 478,
 2493,
 6395,
 1932,
 2731,
 1972,
 8244,
 6007,
 4863,
 4927,
 6177,
 3972,
 1509,
 6809,
 3893,
 5344,
 1649,
 5363,
 4533,
 7382,
 5635,
 4272,
 3191,
 7915,
 4387,
 2590,
 6139,
 4142,
 2383,
 6168,
 693,
 3060,
 2552,
 6771,
 7481,
 1171,
 2323,
 3608,
 1091,
 7422,
 935,
 8509,
 7079,
 2010,
 3625,
 8050,
 3996,
 3767,
 2587,
 6851,
 973,
 4093,
 1394,
 1961,
 7158,
 4744,
 851,
 1939,
 152,
 4556,
 3270,
 7590,
 7325,
 497,
 5414,
 5181,
 8084,
 578,
 5004,
 387,
 4536,
 3516,
 5910,
 7644,
 1485,
 6376,
 4360,
 2215,
 7648,
 7607,
 7372,
 5897,
 262,
 2252,
 4648,
 6418,
 4258,
 6934,
 3773,
 1408,
 6887,
 7681,
 4474,
 1796,
 4498,
 630,
 2776,
 766,
 6502,
 8263,
 6588,
 2979,
 60,
 3486,
 7516,
 2884,
 3671,
 4951,
 1518,
 1073,
 8449,
 6705,
 7385,
 440,
 7739,
 3195,
 5241,
 3921,
 400,
 8170,
 1314,
 7736,
 3126,
 7888,
 6212,
 1350,
 3447,
 3518,
 5943,
 8456,
 6577,
 7890,
 8297,
 3525,
 240,
 8175,
 6842,
 2377,
 1877,
 5077,
 4366,
 7437,
 4897,
 1399,
 6684,
 6151,
 1868,
 5202,
 5706,
 7112,
 2088,
 5205,
 5621,
 1497,
 1467,
 2236,
 7130,
 468,
 4477,
 4399,
 2643,
 3200,
 4639,
 7526,
 8398,
 4159,
 1651,
 3238,
 7780,
 7906,
 553,
 8229,
 5507,
 1100,
 1534,
 8259,
 2757,
 3817,
 3729,
 1420,
 7821,
 5191,
 7138,
 8295,
 446,
 4783,
 6281,
 7899,
 1996,
 5802,
 1526,
 3401,
 7103,
 663,
 7992,
 7763,
 560,
 3412,
 6815,
 7757,
 5757,
 7842,
 2955,
 5769,
 2441,
 5853,
 1206,
 4785,
 1430,
 3443,
 719,
 7340,
 8261,
 4037,
 6922,
 290,
 7194,
 5546,
 4308,
 3172,
 4147,
 987,
 6624,
 1353,
 6786,
 341,
 7185,
 5338,
 1369,
 2923,
 3154,
 6315,
 6835,
 6623,
 3206,
 4329,
 3331,
 2282,
 4898,
 5043,
 7859,
 726,
 2080,
 1136,
 515,
 486,
 2821,
 836,
 3384,
 5817,
 8487,
 1449,
 8307,
 8265,
 777,
 6053,
 1965,
 8068,
 4709,
 603,
 3363,
 2208,
 1137,
 2103,
 6022,
 5758,
 1288,
 7699,
 3054,
 1401,
 1611,
 3958,
 1126,
 7980,
 5388,
 1324,
 3540,
 1952,
 7662,
 7782,
 4958,
 2028,
 2680,
 2213,
 1036,
 3093,
 7618,
 2701,
 883,
 8453,
 8314,
 7922,
 5436,
 7335,
 4495,
 1492,
 5048,
 7962,
 274,
 6181,
 1610,
 64,
 3276,
 6561,
 913,
 5783,
 6841,
 4000,
 5826,
 5916,
 4353,
 2468,
 6523,
 2335,
 4397,
 3230,
 4114,
 6575,
 2889,
 175,
 7196,
 6703,
 894,
 7568,
 8203,
 990,
 7685,
 4367,
 257,
 3415,
 6154,
 3642,
 7829,
 285,
 7931,
 2332,
 6517,
 2839,
 5460,
 484,
 3787,
 3519,
 786,
 97,
 4842,
 1088,
 1761,
 8166,
 1389,
 7229,
 6353,
 4124,
 252,
 4315,
 1051,
 7911,
 5549,
 855,
 2277,
 7116,
 3884,
 6247,
 5935,
 1325,
 1700,
 1678,
 2912,
 5804,
 2350,
 4148,
 3771,
 7231,
 4701,
 6302,
 5548,
 3888,
 7831,
 214,
 2170,
 3573,
 5462,
 1694,
 267,
 863,
 4837,
 4566,
 242,
 4139,
 7586,
 570,
 3183,
 6540,
 312,
 1300,
 2965,
 4856,
 3002,
 5489,
 5829,
 6226,
 5197,
 6722,
 40,
 2406,
 2725,
 7536,
 5863,
 5983,
 581,
 8505,
 4012,
 4334,
 2565,
 2719,
 7628,
 699,
 2440,
 2224,
 4262,
 3428,
 5157,
 1871,
 5721,
 7761,
 4493,
 5459,
 2342,
 3463,
 4763,
 471,
 2227,
 2553,
 7264,
 6167,
 1236,
 8411,
 6908,
 4431,
 7637,
 2881,
 6081,
 3096,
 2324,
 5503,
 1441,
 927,
 6788,
 4020,
 2890,
 1662,
 3789,
 7738,
 2410,
 550,
 1789,
 1169,
 4212,
 6527,
 7095,
 6679,
 5215,
 5389,
 245,
 3720,
 5552,
 7429,
 1753,
 2065,
 4631,
 2987,
 4921,
 4820,
 7608,
 5099,
 7062,
 6169,
 7753,
 3259,
 3432,
 8007,
 5736,
 7384,
 6049,
 3566,
 3024,
 2684,
 2363,
 6802,
 7227,
 2418,
 3161,
 6603,
 1645,
 5478,
 2152,
 6171,
 6194,
 4582,
 4004,
 4654,
 8076,
 2094,
 6224,
 5266,
 6164,
 6856,
 6961,
 5979,
 1153,
 6674,
 8083,
 2270,
 4645,
 4215,
 1924,
 3256,
 7028,
 5234,
 4991,
 5917,
 4086,
 6880,
 764,
 4430,
 5602,
 8205,
 6602,
 4370,
 2164,
 5001,
 3589,
 905,
 6209,
 7858,
 5080,
 7881,
 7664,
 914,
 7808,
 5531,
 591,
 4547,
 4652,
 5256,
 638,
 5275,
 2339,
 5499,
 1062,
 4759,
 1742,
 1039,
 8163,
 6055,
 7884,
 7135,
 667,
 4007,
 1551,
 2087,
 2011,
 4600,
 738,
 4416,
 3793,
 511,
 778,
 1217,
 2714,
 2159,
 4063,
 3239,
 6348,
 6718,
 4719,
 2200,
 6280,
 8369,
 3017,
 1572,
 5685,
 2703,
 7764,
 6145,
 379,
 1942,
 683,
 2032,
 1784,
 3514,
 408,
 6408,
 5175,
 4392,
 3721,
 7512,
 7193,
 3192,
 2795,
 7853,
 7994,
 7791,
 3338,
 7042,
 3045,
 1864,
 1892,
 669,
 7314,
 8404,
 3139,
 8356,
 4589,
 1469,
 3868,
 6447,
 729,
 1917,
 8409,
 4598,
 806,
 3724,
 4499,
 3769,
 2880,
 4234,
 2284,
 3080,
 7522,
 5128,
 1904,
 598,
 4970,
 8045,
 3258,
 7262,
 1630,
 2106,
 795,
 6104,
 5369,
 5766,
 629,
 5156,
 3073,
 4581,
 5151,
 7402,
 473,
 4524,
 7876,
 4657,
 5618,
 3181,
 6366,
 998,
 3549,
 4336,
 2879,
 4699,
 6070,
 5938,
 2101,
 4572,
 5577,
 2739,
 8121,
 1778,
 7825,
 2135,
 2034,
 2328,
 1020,
 5348,
 1367,
 2936,
 4949,
 3758,
 2241,
 4853,
 5271,
 5775,
 1196,
 5681,
 776,
 4614,
 3221,
 6670,
 5011,
 6752,
 124,
 674,
 812,
 2646,
 3402,
 6930,
 7260,
 333,
 4415,
 4974,
 6935,
 522,
 5408,
 8496,
 609,
 1964,
 4090,
 3286,
 6392,
 7070,
 4283,
 2534,
 7450,
 3523,
 3615,
 8334,
 533,
 2625,
 351,
 2361,
 1980,
 3784,
 1999,
 3512,
 5422,
 5639,
 2003,
 2160,
 5273,
 4782,
 2835,
 5240,
 7548,
 357,
 6655,
 8435,
 420,
 4332,
 785,
 7540,
 6137,
 1326,
 8173,
 2751,
 1187,
 7707,
 4931,
 1790,
 1825,
 6477,
 8437,
 2511,
 453,
 5613,
 2481,
 7039,
 1552,
 2264,
 2176,
 7484,
 4990,
 7705,
 7871,
 2005,
 6510,
 6003,
 4161,
 1476,
 4742,
 5540,
 6774,
 1845,
 3351,
 1633,
 1124,
 1590,
 3795,
 1549,
 954,
 6902,
 6023,
 4517,
 4724,
 4717,
 7999,
 6508,
 7667,
 6260,
 644,
 5300,
 1023,
 2189,
 5432,
 12,
 5528,
 6845,
 403,
 8107,
 482,
 3599,
 7221,
 7139,
 1022,
 649,
 2883,
 1812,
 4312,
 5172,
 2182,
 5790,
 7703,
 4195,
 3910,
 2749,
 8029,
 ...]

In [3]:
random_list

[3420,
 5572,
 5399,
 8445,
 6586,
 1871,
 5720,
 4015,
 2535,
 6570,
 1629,
 4340,
 4716,
 8148,
 5630,
 2377,
 5551,
 5213,
 2012,
 1858,
 4652,
 5220,
 4985,
 7135,
 5026,
 4062,
 7177,
 1969,
 7786,
 3838,
 5882,
 7716,
 2536,
 6568,
 533,
 2480,
 2585,
 2671,
 620,
 3900,
 351,
 8103,
 4773,
 6916,
 1995,
 876,
 5694,
 4073,
 5152,
 412,
 7843,
 3025,
 1356,
 5559,
 5074,
 514,
 2826,
 822,
 6202,
 1254,
 6702,
 5342,
 2906,
 1457,
 6933,
 8209,
 4520,
 182,
 4453,
 3347,
 5634,
 2045,
 5108,
 3869,
 2112,
 4874,
 5936,
 3129,
 3868,
 7996,
 4069,
 3286,
 1306,
 6847,
 7421,
 7890,
 3296,
 7027,
 3551,
 2228,
 5500,
 357,
 4976,
 8139,
 4894,
 6419,
 782,
 3286,
 6724,
 4070,
 7653,
 6421,
 2346,
 8034,
 3482,
 1983,
 826,
 1533,
 7009,
 5203,
 1704,
 4185,
 5393,
 22,
 2510,
 1352,
 361,
 5454,
 3660,
 4335,
 6859,
 6660,
 889,
 1365,
 3071,
 6820,
 2472,
 3573,
 6021,
 5392,
 3684,
 3107,
 4805,
 5218,
 15,
 2134,
 5415,
 5967,
 752,
 7611,
 750,
 745,
 5945,
 3534,
 5983,
 6944,
 6984,
 77,
 6082,
 3301,
 7400,
 700,
 5740,
 5457,
 2458,
 5929,
 5192,
 4627,
 5368,
 2092,
 1491,
 360,
 1707,
 1414,
 4045,
 997,
 458,
 2740,
 7973,
 2598,
 3462,
 7569,
 8126,
 315,
 7892,
 394,
 1917,
 936,
 6864,
 2451,
 5983,
 520,
 8281,
 5646,
 5551,
 7744,
 6410,
 6259,
 6001,
 942,
 6389,
 6081,
 1009,
 8477,
 6610,
 3236,
 5659,
 7059,
 1705,
 7040,
 3213,
 7988,
 6103,
 3199,
 4282,
 2623,
 854,
 8391,
 2395,
 3845,
 4706,
 1833,
 3172,
 2235,
 3082,
 3882,
 5180,
 6538,
 3640,
 2632,
 1641,
 2691,
 5525,
 1608,
 4238,
 4086,
 1595,
 5713,
 4454,
 132,
 7171,
 5570,
 2895,
 8160,
 4612,
 6768,
 2268,
 9,
 7084,
 8160,
 8167,
 6564,
 661,
 3402,
 3920,
 5253,
 3640,
 2190,
 3860,
 4672,
 5587,
 863,
 4875,
 8213,
 5076,
 6306,
 2178,
 114,
 4010,
 6256,
 1898,
 915,
 2032,
 5326,
 6056,
 2892,
 8219,
 7590,
 5374,
 3079,
 7001,
 7215,
 7417,
 3827,
 1461,
 6250,
 4856,
 6983,
 432,
 3219,
 4004,
 2710,
 154,
 3476,
 2754,
 2187,
 5867,
 4374,
 6737,
 2454,
 1361,
 5135,
 6555,
 4581,
 1451,
 92,
 352,
 3383,
 3724,
 3013,
 5534,
 1218,
 7405,
 6194,
 3201,
 929,
 5301,
 1516,
 5219,
 6376,
 5923,
 5178,
 2035,
 1629,
 2859,
 2263,
 2128,
 6627,
 4177,
 6703,
 7983,
 4200,
 6356,
 5421,
 3476,
 1912,
 7745,
 2659,
 4933,
 4402,
 6639,
 4002,
 727,
 8102,
 6920,
 4597,
 2428,
 1227,
 1087,
 6809,
 8176,
 8126,
 2689,
 3157,
 2814,
 1395,
 8149,
 1417,
 780,
 7368,
 1048,
 121,
 726,
 6154,
 568,
 198,
 240,
 4243,
 2747,
 877,
 2550,
 718,
 5844,
 1772,
 1226,
 4954,
 6754,
 4176,
 3874,
 7845,
 3117,
 1234,
 4615,
 1044,
 8387,
 5015,
 2312,
 6712,
 6506,
 6386,
 5185,
 4998,
 6,
 7679,
 6902,
 1136,
 2687,
 1702,
 5172,
 5544,
 7459,
 6085,
 8337,
 6222,
 7753,
 3763,
 3431,
 7202,
 878,
 8450,
 4764,
 2618,
 6178,
 4887,
 6194,
 6331,
 8454,
 3259,
 3369,
 215,
 3804,
 5474,
 1673,
 4879,
 2420,
 7911,
 3288,
 2819,
 4127,
 3089,
 7761,
 4613,
 3279,
 1888,
 4141,
 39,
 1562,
 3839,
 725,
 2080,
 4659,
 4111,
 1688,
 4469,
 641,
 1793,
 4978,
 2696,
 1094,
 6013,
 7878,
 6814,
 3082,
 4242,
 6206,
 6132,
 1700,
 124,
 7475,
 8118,
 6961,
 2828,
 1396,
 8332,
 8035,
 2592,
 6083,
 7289,
 3340,
 5741,
 5509,
 128,
 2154,
 1674,
 2072,
 7365,
 4788,
 4090,
 8217,
 2921,
 6056,
 977,
 3235,
 6967,
 7147,
 4258,
 8520,
 1920,
 7426,
 2604,
 5384,
 1049,
 1833,
 1243,
 3736,
 183,
 5588,
 7690,
 5809,
 3921,
 3437,
 576,
 7069,
 4218,
 315,
 1982,
 3619,
 4171,
 11,
 4828,
 1658,
 4996,
 47,
 7928,
 2937,
 4090,
 7518,
 4009,
 7617,
 5316,
 3692,
 3554,
 2100,
 8351,
 8296,
 1259,
 2569,
 1685,
 4251,
 6052,
 7919,
 1244,
 7538,
 2875,
 5478,
 3885,
 7342,
 5071,
 2462,
 758,
 6436,
 4457,
 7295,
 7453,
 5459,
 8149,
 2140,
 3816,
 5376,
 575,
 5225,
 2976,
 5924,
 8194,
 3537,
 1867,
 8087,
 4591,
 4589,
 521,
 3857,
 3353,
 3809,
 7824,
 7720,
 1354,
 5115,
 4722,
 6794,
 6734,
 5446,
 7644,
 7851,
 215,
 1744,
 2946,
 61,
 8010,
 5550,
 2339,
 3070,
 7039,
 2370,
 5553,
 390,
 5289,
 3986,
 7916,
 8044,
 2672,
 7230,
 5,
 27,
 6861,
 3302,
 8356,
 8475,
 2072,
 2532,
 7025,
 2494,
 4495,
 2592,
 2775,
 7448,
 2387,
 1338,
 6313,
 4233,
 2180,
 3567,
 5139,
 2616,
 5467,
 6853,
 1,
 3785,
 2603,
 3633,
 5225,
 2667,
 5197,
 6660,
 3828,
 8068,
 3894,
 4769,
 2579,
 6002,
 3648,
 6680,
 2690,
 1968,
 3328,
 464,
 2631,
 4797,
 2084,
 3831,
 1076,
 6126,
 5007,
 3139,
 2501,
 7331,
 2029,
 3057,
 5897,
 8220,
 6131,
 5843,
 2352,
 4725,
 4369,
 1092,
 710,
 2197,
 8186,
 2614,
 47,
 8335,
 8154,
 2865,
 6562,
 1635,
 4331,
 1763,
 1703,
 4796,
 3707,
 737,
 3834,
 2830,
 1412,
 6993,
 429,
 6525,
 2080,
 968,
 6658,
 3778,
 3441,
 5020,
 8515,
 8204,
 7343,
 6228,
 7896,
 5161,
 3379,
 6882,
 6559,
 2309,
 8049,
 5493,
 1132,
 8330,
 6056,
 6595,
 6219,
 7333,
 5216,
 5558,
 6864,
 1604,
 4949,
 6762,
 1922,
 7104,
 7571,
 45,
 4807,
 3057,
 4776,
 1526,
 8273,
 2671,
 4779,
 7243,
 6937,
 1261,
 6790,
 5759,
 3998,
 5703,
 1487,
 679,
 8407,
 5446,
 5038,
 8148,
 46,
 2334,
 563,
 5812,
 1678,
 4265,
 4911,
 813,
 6626,
 6723,
 8178,
 36,
 4461,
 6411,
 937,
 2521,
 2726,
 1475,
 8015,
 2607,
 2701,
 7671,
 1932,
 6032,
 3865,
 2661,
 6856,
 5365,
 1483,
 5466,
 4361,
 5273,
 5490,
 2493,
 1867,
 4155,
 4095,
 298,
 4429,
 3812,
 7773,
 7085,
 4397,
 6377,
 1377,
 149,
 7333,
 2870,
 424,
 2319,
 2346,
 6550,
 3655,
 4441,
 320,
 5383,
 8059,
 2449,
 8453,
 7058,
 8204,
 3517,
 584,
 3700,
 6995,
 6385,
 5465,
 458,
 3829,
 5134,
 6013,
 2917,
 7318,
 5209,
 500,
 7142,
 3532,
 2578,
 7773,
 1002,
 6040,
 644,
 3298,
 1991,
 6561,
 7044,
 5760,
 4857,
 3861,
 8080,
 6109,
 7549,
 188,
 7842,
 5423,
 3234,
 3484,
 1020,
 3305,
 4565,
 1942,
 6531,
 1865,
 5895,
 4136,
 1255,
 3105,
 6797,
 7106,
 8435,
 3484,
 6608,
 1284,
 2140,
 7587,
 5739,
 7508,
 4264,
 5958,
 1115,
 1896,
 7247,
 7130,
 999,
 333,
 7172,
 1812,
 3905,
 5623,
 8050,
 5471,
 959,
 3512,
 7464,
 8131,
 1999,
 564,
 3914,
 7916,
 4595,
 4293,
 4700,
 67,
 2113,
 1254,
 4988,
 5502,
 6441,
 3094,
 5148,
 2128,
 998,
 7844,
 5398,
 6411,
 5110,
 2312,
 281,
 8410,
 6244,
 2866,
 7965,
 3736,
 3780,
 6753,
 4063,
 6973,
 6656,
 336,
 1597,
 3206,
 5754,
 5225,
 4989,
 6207,
 3234,
 6302,
 2284,
 2480,
 6102,
 4991,
 659,
 1735,
 4640,
 2718,
 2142,
 5608,
 3805,
 5686,
 7344,
 3239,
 2002,
 272,
 3764,
 5882,
 2376,
 2599,
 849,
 3867,
 2968,
 3353,
 2098,
 5677,
 751,
 8258,
 1780,
 7227,
 8261,
 3584,
 4723,
 5192,
 2406,
 435,
 8335,
 5032,
 4957,
 7568,
 6116,
 1286,
 2667,
 2590,
 6667,
 7907,
 1409,
 7323,
 6863,
 1607,
 1716,
 5032,
 5813,
 479,
 433,
 6832,
 5025,
 5587,
 7777,
 7062,
 2111,
 2620,
 3197,
 3584,
 3273,
 4945,
 7579,
 1163,
 7894,
 8379,
 7183,
 7926,
 5407,
 5330,
 6586,
 92,
 1844,
 63,
 2674,
 4030,
 1752,
 6524,
 6108,
 7938,
 3892,
 8412,
 4432,
 7236,
 1424,
 4405,
 7158,
 8174,
 931,
 313,
 2597,
 2583,
 7764,
 3896,
 5255,
 623,
 4305,
 2978,
 ...]

In [13]:
data.index = random_list

In [14]:
data.index

Int64Index([ 413, 4939, 3017, 1078, 2643, 4807, 6229, 3598, 8260, 3126,
            ...
             284, 5233, 4145, 4885, 8283, 2186, 2042, 7039, 3764,    1],
           dtype='int64', length=8523)

In [15]:
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
413,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
4939,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3017,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
1078,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
2643,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4807,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6229,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
3598,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8260,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
3126,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [18]:
data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

KeyError: "None of ['Outlet_Establishment_Year'] are in the columns"

In [19]:
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
2009,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Medium,Tier 3,Supermarket Type2,556.6088
1987,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,High,Tier 3,Supermarket Type1,343.5528
1985,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,Medium,Tier 3,Supermarket Type3,4022.7636
2002,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,NaN,Tier 2,Supermarket Type1,1076.5986
2007,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,NaN,Tier 2,Supermarket Type1,4710.5350

In [20]:
data.reset_index(inplace=True)

In [21]:
data.head(5)

,Outlet_Establishment_Year,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [22]:
data.set_index('Item_Identifier', drop=True, inplace=True)

In [23]:
data.head(5)

,Outlet_Establishment_Year,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,1999,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,2009,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,1999,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,1998,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,1987,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [25]:
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

In [26]:
data.loc['FDA15']

,Outlet_Establishment_Year,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,1999,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,2002,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,2004,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,2009,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,1998,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,1987,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,1985,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,2007,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

In [27]:
data.reset_index(inplace=True)

In [28]:
data.head(5)

,Item_Identifier,Outlet_Establishment_Year,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,1999,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,2009,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,1999,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,1998,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,1987,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [31]:
data[data['Item_Type'] == 'Dairy'].shape

(682, 12)

In [32]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Outlet_Establishment_Year,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,1999,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,1997,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,2004,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,1998,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,1998,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,2004,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,2007,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,2009,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,2004,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,1987,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

In [6]:
import pandas as pd

In [7]:
pd.__version__

'1.0.1'

In [8]:
df = pd.read_csv('../dataset/csv/big_mart_sales.csv')

In [9]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [10]:
df.shape()

TypeError: 'tuple' object is not callable

In [11]:
df.shape

(8523, 12)

In [12]:
df.index

RangeIndex(start=0, stop=8523, step=1)

In [13]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [14]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [15]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [16]:
df[df['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

In [17]:
df.set_index('Outlet_Establishment_Year')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
1987,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
2002,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
2004,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
2009,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
1997,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

In [18]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [20]:
df.set_index('Item_Type', inplace=True)

KeyError: "None of ['Item_Type'] are in the columns"

In [21]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
Snack Foods,FDF22,6.865,Low Fat,0.056783,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
Baking Goods,FDS36,8.380,Regular,0.046982,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
Health and Hygiene,NCJ29,10.600,Low Fat,0.035186,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
Snack Foods,FDN46,7.210,Regular,0.145221,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
Soft Drinks,DRG01,14.800,Low Fat,0.044878,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [22]:
df.reset_index()

,Item_Type,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,Snack Foods,FDF22,6.865,Low Fat,0.056783,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,Baking Goods,FDS36,8.380,Regular,0.046982,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,Health and Hygiene,NCJ29,10.600,Low Fat,0.035186,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,Snack Foods,FDN46,7.210,Regular,0.145221,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,Soft Drinks,DRG01,14.800,Low Fat,0.044878,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [23]:
df.set_index('Item_Weight', drop=True)

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Weight,,,,,,,,,,
9.300,FDA15,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
5.920,DRC01,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
17.500,FDN15,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
19.200,FDX07,Regular,0.000000,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8.930,NCD19,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
6.865,FDF22,Low Fat,0.056783,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8.380,FDS36,Regular,0.046982,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
10.600,NCJ29,Low Fat,0.035186,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
7.210,FDN46,Regular,0.145221,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
14.800,DRG01,Low Fat,0.044878,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [24]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
Snack Foods,FDF22,6.865,Low Fat,0.056783,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
Baking Goods,FDS36,8.380,Regular,0.046982,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
Health and Hygiene,NCJ29,10.600,Low Fat,0.035186,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
Snack Foods,FDN46,7.210,Regular,0.145221,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
Soft Drinks,DRG01,14.800,Low Fat,0.044878,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [25]:
df.set_index('Item_Visibility', inplace=True)

In [26]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Visibility,,,,,,,,,,
0.016047,FDA15,9.300,Low Fat,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
0.019278,DRC01,5.920,Regular,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
0.016760,FDN15,17.500,Low Fat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
0.000000,FDX07,19.200,Regular,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
0.000000,NCD19,8.930,Low Fat,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
0.056783,FDF22,6.865,Low Fat,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
0.046982,FDS36,8.380,Regular,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
0.035186,NCJ29,10.600,Low Fat,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
0.145221,FDN46,7.210,Regular,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
0.044878,DRG01,14.800,Low Fat,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [27]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_MRP',
       'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')