In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_cleaned.csv')
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
data.shape

(891, 25)

In [4]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [6]:
x = data.drop(['Survived'], axis=1)
y = data['Survived']
x.shape, y.shape

((891, 24), (891,))

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 9, stratify = y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((668, 24), (223, 24), (668,), (223,))

Basr Models

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [10]:
def model_prediction(model, x_train, y_train, x_test):
    model.fit(x_train, y_train)
    train_pred = model.predict(x_train)
    test_pred = model.predict(x_test)
    return train_pred, test_pred

In [11]:
DT = DecisionTreeClassifier(random_state=101)
M1_train, M1_test = model_prediction(DT, x_train, y_train, x_test)

In [13]:
M1_train.shape, M1_test.shape

((668,), (223,))

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X=x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [20]:
LR=LogisticRegression(random_state= 101)
M2_train, M2_test = model_prediction(LR, x_train, y_train, x_test)

In [21]:
M2_train.shape, M2_test.shape

((668,), (223,))

In [22]:
knn=KNeighborsClassifier()
M3_train, M3_test = model_prediction(knn, x_train, y_train, x_test)

In [24]:
M3_train.shape, M3_test.shape

((668,), (223,))

In [26]:
train_prediction = pd.DataFrame({
              'DT': M1_train,
              'LR': M2_train,
              'knn': M3_train
              })
train_predictions = pd.DataFrame(train_prediction)
train_predictions.head()

   DT  LR  knn
0   1   1    0
1   1   1    1
2   1   1    0
3   0   1    1
4   0   0    0

In [27]:
test_prediction = {
              'DT': M1_test,
              'LR': M2_test,
              'knn': M3_test
              }
test_predictions = pd.DataFrame(test_prediction)
test_predictions.head()

   DT  LR  knn
0   0   0    0
1   1   1    1
2   0   0    0
3   1   0    0
4   0   0    0

In [30]:
model = LogisticRegression()
model.fit(train_predictions, y_train)
model.score(test_predictions,y_test)

0.726457399103139