In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [4]:
data = pd.read_csv('data_cleaned.csv')
data.shape

(891, 25)

In [5]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [7]:
x = data.drop(['Survived'], axis=1)
y = data['Survived']
x.shape, y.shape

((891, 24), (891,))

In [8]:
from sklearn.model_selection import train_test_split as tts
train_x, test_x, train_y, test_y = tts(x, y, random_state=9, stratify=y)
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((668, 24), (223, 24), (668,), (223,))

In [9]:
from sklearn.model_selection import KFold

def kfold_predictions(model, n_splits, train_x, train_y, test_x):
    train_pred = np.empty((0,0), int)
    skfold = KFold(n_splits, random_state=9)
    
    for i,j in skfold.split(train_x, train_y):
        x_train, x_test = train_x.iloc[i], train_x.iloc[j]
        y_train, y_test = train_y.iloc[i], train_y.iloc[j]
        
        model.fit(X=x_train, y=y_train)
        tmp = model.predict(x_test)
        
        train_pred = np.append(train_pred, tmp)
    
    model.fit(train_x, train_y)
    test_pred = model.predict(test_x)
    
    return train_pred, test_pred

In [12]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier(random_state=101)
M1_train, M1_test = kfold_predictions(DT, 10, train_x, train_y, test_x)
M1_train.shape, M1_test.shape

((668,), (223,))

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X=train_x)
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [14]:
train_x = pd.DataFrame(train_x)
test_x = pd.DataFrame(test_x)

In [15]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state=101)
M2_train, M2_test = kfold_predictions(LR, 10, train_x, train_y, test_x)
M2_train.shape, M2_test.shape

((668,), (223,))

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
M3_train, M3_test = kfold_predictions(knn, 10, train_x, train_y, test_x)
M2_train.shape, M2_test.shape

((668,), (223,))

In [17]:
train_predictions = pd.DataFrame({'DT': M1_train, 'LR': M2_train, 'KNN': M3_train})
train_predictions.head()

   DT  LR  KNN
0   1   1    0
1   1   1    1
2   1   1    0
3   1   1    1
4   0   0    0

In [18]:
test_predictions = pd.DataFrame({'DT': M1_test, 'LR': M2_test, 'KNN': M3_test})
test_predictions.head()

   DT  LR  KNN
0   0   0    0
1   1   1    1
2   0   0    0
3   1   0    0
4   0   0    0

In [21]:
model = LogisticRegression()
model.fit(train_predictions, train_y)
final = model.predict(test_predictions)
model.score(test_predictions, test_y)

0.7937219730941704