In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
list1[1]

2

In [17]:
list1[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
list1[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list1[:-5]

[1, 2, 3, 4, 5]

In [20]:
list1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
list1.append(11)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [23]:
list1.extend([12,13])
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 13]

In [25]:
list1.append([14,15])

In [26]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 13, [14, 15]]

In [28]:
list1.extend([16])

In [29]:
list1.insert(0,123)

In [30]:
list1

[123, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 13, [14, 15], 16]

In [31]:
list1.remove(11)

In [32]:
list1

[123, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, [14, 15], 16]

In [33]:
del list1[0]

In [34]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, [14, 15], 16]

In [35]:
list1.pop()

16

In [36]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, [14, 15]]

In [37]:
len(list1)

14

In [38]:
for element in list1:
    print(element)

1
2
3
4
5
6
7
8
9
10
11
12
13
[14, 15]

In [39]:
list1.index(11)

10

In [40]:
list1.index(19)

ValueError: 19 is not in list

In [41]:
19 in list1

False

In [42]:
1 in list1

True

In [43]:
list1.count(1)

1

In [44]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, [14, 15]]

In [47]:
list1.index([14, 15])

13

In [49]:
student_marks = [['Name', ['A', 'B', 'C', 'D', 'E']],
                 ['Ankit', [41, 34, 45, 55, 63]],
                 ['Aravind', [42, 23, 34, 44, 53]],
                 ['Lakshay', [32, 23, 13, 54, 67]],
                 ['Gyan', [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]]

In [51]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [52]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [53]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

In [54]:
student_marks[0][1]

['A', 'B', 'C', 'D', 'E']

In [56]:
student_marks[1][1][1]

34

In [59]:
student_with_marks_in_B = []
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B, name])

In [60]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [62]:
sorted(student_with_marks_in_B, reverse=True)

[[82, 'Gyan'], [34, 'Ankit'], [23, 'Pranav'], [23, 'Lakshay'], [23, 'Aravind']]

In [64]:
sorted(student_with_marks_in_B, reverse=True)[0][1]

'Gyan'

In [71]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)

In [66]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [67]:
tuple1[4]

5

In [68]:
tuple1[1:5]

(2, 3, 4, 5)

In [69]:
tuple1 = (3,4)

In [72]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [73]:
tuple1[:-4]

(1, 2, 3, 4, 5, 6)

In [75]:
tuple1[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [77]:
sorted(tuple1, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
tuple1.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
del tuple1[1]

TypeError: 'tuple' object doesn't support item deletion

In [80]:
tuple1.index(6)

5

In [81]:
tuple1.count(3)

1

In [82]:
8 in tuple1

True

In [83]:
tuple1.index(18)

ValueError: tuple.index(x): x not in tuple

# Set

In [1]:
set1 = {'a', 'B', 'c', 'D', 5,3,2,1}

In [85]:
set1

{1, 2, 3, 5, 'B', 'D', 'a', 'c'}

In [100]:
set1.add(100)

In [105]:
set1

{1, 10, 100, 12, 13, 14, 15, 16, 17, 2, 3, 5, 9, 'B', 'D', 'a', 'c'}

In [102]:
set1.update([12,13,14])

In [104]:
set1.update({15, 16, 17})

In [106]:
set1

{1, 10, 100, 12, 13, 14, 15, 16, 17, 2, 3, 5, 9, 'B', 'D', 'a', 'c'}

In [107]:
set1.remove(12)

In [108]:
set1

{1, 10, 100, 13, 14, 15, 16, 17, 2, 3, 5, 9, 'B', 'D', 'a', 'c'}

In [109]:
set1.remove(99)

KeyError: 99

In [7]:
set1.discard(5)

In [8]:
set1

{1, 2, 3, 'B', 'D', 'a', 'c'}

In [112]:
set1[0]

TypeError: 'set' object is not subscriptable

In [113]:
set2 = {1,2,3,4,5,6,7}
set3 = {4,5,6}
set4 = {8,9}

In [114]:
set2.isdisjoint(set4)

True

In [115]:
set1.isdisjoint(set2)

False

In [116]:
set1.issubset(set2)

False

In [117]:
set1.issubset(set1)

True

In [119]:
set1.issuperset(set2)

False

In [121]:
set2.intersection(set3)

{4, 5, 6}

In [122]:
set2.difference(set3)

{1, 2, 3, 7}

# Dictionary

In [123]:
dict1 = {1:'abc', 2:'def', 3:'pqr', 4:'xyz'}

In [124]:
dict1

{1: 'abc', 2: 'def', 3: 'pqr', 4: 'xyz'}

In [127]:
dict1[1]

'abc'

In [128]:
dict1[8] = 'ghm'

In [129]:
dict1

{1: 'abc', 2: 'def', 3: 'pqr', 4: 'xyz', 8: 'ghm'}

In [130]:
dict1.update({5:'cjo',6:'tyu'})

In [131]:
dict1

{1: 'abc', 2: 'def', 3: 'pqr', 4: 'xyz', 8: 'ghm', 5: 'cjo', 6: 'tyu'}

In [132]:
del dict1[8]

In [133]:
dict1

{1: 'abc', 2: 'def', 3: 'pqr', 4: 'xyz', 5: 'cjo', 6: 'tyu'}

In [134]:
dict1.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [137]:
dict1.values()

dict_values(['abc', 'def', 'pqr', 'xyz', 'cjo', 'tyu'])

In [138]:
dict1.items()

dict_items([(1, 'abc'), (2, 'def'), (3, 'pqr'), (4, 'xyz'), (5, 'cjo'), (6, 'tyu')])

In [140]:
for key,value in dict1.items():
    print(key, value)

1 abc
2 def
3 pqr
4 xyz
5 cjo
6 tyu

In [144]:
for item in dict1.items():
    print(item)

(1, 'abc')
(2, 'def')
(3, 'pqr')
(4, 'xyz')
(5, 'cjo')
(6, 'tyu')